$borderColor: rgb(255, 252, 250);
$backGroundColor: rgb(230, 224, 221);
$borderColorReadOnly:rgb(230, 224, 221);
$backGroundColorReadOnly: rgb(20, 24, 53);
$backGroundColorHover: rgb(40, 52, 67);
$fontColor: rgb(255, 114, 37);
$fontColorReadOnly: rgb(75, 73, 73);
$heght: 25px;
$citicRed:rgb(216, 31, 47);

.zzzb-table {
  border: 0px solid;
  text-align: center;
  font-size: 12px;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  background-color: $backGroundColor;
  height: $heght;
  overflow-y: auto;
  margin:0 auto;

  .zzzb-row-header {
    color: rgb(230, 224, 221);
    background-color: rgb(216, 31, 47);
    height: $heght;
    width:120px;
    white-space:nowrap;
    word-break:keep-all;
    
  }

  .zzzb-row-data {
    width: 120px;
    background-color: $backGroundColor;
    border-bottom: 1px solid $borderColor;
    border-right: 1px solid $borderColor;
    // color: $fontColor;
    height: $heght;
    font-size: 12px;
    

    .zzzb-input {
      width: 100%;
      background-color: $backGroundColor;
      border: solid $borderColor 0px;
      height: $heght;
      font-size: 12px;
    }

    .el-input {
      width: 100%;
      background-color: $backGroundColor;
      border: solid $borderColor 0px;
      height: $heght;
      font-size: 12px;
    }

    .zzzb-input :read-only {
      color: $fontColorReadOnly;
      font-size: 12px;
    }

    .el-select .el-input :read-only {
      color: $fontColor;
      font-size: 12px;
    }

    .el-select .el-input :disabled {
      color: $fontColorReadOnly;
      font-size: 12px;
    }

    .el-select .el-input.is-disabled .el-input__suffix :read-only {
      color: $fontColorReadOnly !important;
    }

    .zzzb-input__inner {
      color: $fontColor;
      background-color: $backGroundColor;
      border: solid $borderColor 0px !important;
      text-align: center;
      padding: 0px !important;
      height: $heght;
    }

    .el-input__inner {
      color: $fontColor;
      background-color: $backGroundColor;
      border: solid $borderColor 0px !important;
      text-align: center;
      padding: 0px !important;
      height: $heght;
    }

    .el-input-group__append {
      color: $fontColor;
      background-color: $backGroundColor;
      border: solid $borderColor 0px;
      text-align: center;
      height: $heght;
      border: 0px;
      padding: 0 10px !important;
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }
}

 .zzzb-popper {
  background-color: $backGroundColor;
  border: solid $borderColor 0px;
  margin: 0px !important;
  
}

 .zzzb-popper .el-select-dropdown__list {
  padding: 0px;


}

 .zzzb-popper .el-select-dropdown__item {
  color: $fontColor;
  background: $backGroundColor;
  border: solid $borderColor 0px;
  font-size: 12px;
  text-align: center;
  left:0px !important;
  height:20px;
  margin-top:0px;
}

 .zzzb-popper .el-select-dropdown__item.hover,
 .zzzb-popper .el-select-dropdown__item:hover {
  background: $citicRed;
}

 .zzzb-popper .el-picker-panel__content {
  color: $fontColor;
}

 .zzzb-popper .popper__arrow {
  display: none;
}

 .zzzb-popper .popper__arrow::after {
  display: none;
}
.sortIcon {
  display: inline;
}
.filterIcon {
  display: inline;
}
.popupBox {
  background-color: white;
  color: black;
  border: 1px solid black;
  opacity: 1；;
}
.filterTable {
  display: flex;
  flex-direction: column;
  position: absolute;
  float: right;
  margin: 20px 0px 0px 125px;
  background: white;
  color: black;
  width: 150px;
  border: 1px solid black;
}
.right-menu-table{
  position:absolute;
  float:right;
  margin:10px 0px 0px 100px;
  color:$fontColorReadOnly;
  background-color:$backGroundColor;
  border:1px solid $citicRed;
}
.el-input__suffix,.el-select__caret,.el-icon-arrow-up{
  display: none;
}
.el-select-dropdown__item{
  list-style: none;
  border:1px solid white;
}
.el-select-dropdown__list{
  margin-top: 0px;
  border:1px solid white;
}
.mytable{
  // display: flex;
  // justify-content: center;
  width:95%;
  margin:0 auto;
  
}
.inputBox{
  width:30px;
  display: inline;
  text-align: center;
}

.box-inner{
  display: inline;
}
.config-table{
  display:flex;
  align-items: center;
  justify-content: center;
}





